<div  style="padding:48px">
    <br><br><br>
    <span class="intro"><strong>Start something that matters</strong></span><br><br>
    <span class="intro1"><strong>Start customizing your own pc with multiple features that we are providing...</strong></span><br><br>
    <ul><strong>
      <li>Compare Prices</li>
      <li>Check our Designs</li>
      <li>Explore News About latest trends in technology </li>
      <li>Learn and Assemble PC on your own </li></strong>
    </ul><br>
    <p class="intro2"><a href="#about"style="text-decoration:none;color:white;">Learn more and start today</a></p>
</div> 

